body {
  background-color: peachpuff;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
}

h1 {
  text-align: center;
}

p {
  font-weight: bold;
  font-size: larger;
}

.btn {
  background-color: lightgray;
}

#character {
  background-color: yellow;
  font-size: larger;
}
